*{
    margin: 0;
    padding: 0;
}
body,html{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-elem{
    padding: 3vw;
}
nav h2{
    font-size: 5vw;
    font-weight: 500;
}

.nav-elem a{
    text-decoration: none;
    color: black;
    font-size: 2vw;
}

.heading{
    margin: 3vw;
    font-weight: 600;
}


.hadees{
    background-color: #e6e2e2;
    padding: 2vw;
    /* font-size: 4vw; */
    font-weight: 500;
    text-align: left;
}

.hadees > *{
    padding: 1vw;
}

.result-form {
    font-size: 5vw;
    margin: 2vw;
}



/* info  */


.info-elem{
    margin: 4vw 0 ;
    width: 100%;
}

.info-elem label{
    width: 100%;
    color: red; 
    padding: 2vw; 
    background-color: #e6e2e2;
    margin: 4vw 0;
}
.info-elem p{
    margin-top: 3vw;
    max-height: 0;
    overflow: hidden;
}


.info-elem label + input[type="radio"]{
    display: none;
}

.info-elem label + input[type="radio"]:checked + p {
    max-height: fit-content;
}



/* the zakaat ques */

.zakaat-elem{
    margin: 2vw;
    cursor: pointer;
    border: 1px solid;
    padding: 1rem;
}

.head{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.head button{
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

.zakaat-ques   >*{
    font-size: 1.5rem;
    padding: 10px;
    margin: 1vw 0 ;
}
.result-form >*{
    font-size: 1.5rem;
    padding: 10px;
    margin: 1vw 0 ;
}
.zakaat-elem h2{
    text-transform: uppercase;
}
.zakaat-ques p{
    text-transform: capitalize;
}

input{
    border: 1px solid;
}




/* the show, hide effect  */

.hide{
    display: none;
}


.zakaat-ques{
    display: none;
}

.show {
    display: block;
}

/* code for sidebar 
 */
 .menu-elem{
     position: absolute;
    top: 0;
    right: -300px;
    width: 230px;
    height: 100%;
   
    background-color: black;
    color: white;
    /* display: none; */
    
    overflow: hidden;
    z-index: 0;
    transition: all .8s ease-in-out;
    
}
img{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    width: 30px;
    height: 30px;
    z-index: 1;
}

.menuContent{
    margin: 100px 0;
}

.showSideBar{
    right: 0;
    display: block;
}



ul li a {
   list-style: none;
 }


 .menu-elem a{
   text-decoration: none;
    color: white;
 }

 .menu-elem li{
    margin: 10px 2px;
    padding: 3px 10px;
 }

 .menu-elem li:hover{
    background-color: white;
    padding: 3px 10px;
 }

 .menu-elem li:hover a{
color: black; 
}

